spring:
  application:
    name: config-server
  
  profiles:
    active: native
  
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config,file:/app/config

server:)
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.config: INFO
